@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/minecraft-4');
@import url('https://fonts.googleapis.com/css2?family=Iansui&display=swap');

  html, body{
    background-color: #fff3e3;
  }
  span.zh {
    font-family: 'iansui', serif; /* 指定中文使用 iansui 字體 */
  }
  header {
    padding: 30px;
  }
